@import "tailwindcss";
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold weight */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .frame1:hover video{
    transform: scale(1.02);
    transition: 300ms;
  }

  /* Default hidden scrollbar */
::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Show scrollbar on hover */
body:hover ::-webkit-scrollbar {
  opacity: 1;
}


  